* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

@font-face {
font-family: proxima;
src: url(../font/ProximaNova-Regular.otf);
font-weight: normal;
font-style: normal;
}

@font-face {
    font-family: proxima-light;
    src: url(../font/Proxima\ Nova\ Alt\ Light.otf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
font-family: vcr;
src: url(../font/vcr.ttf);
font-weight: normal;
font-style: normal;
}

body {
background: url(../images/back4.gif) no-repeat center center fixed; 
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;

text-shadow: 2px 2px #202020;
}

nav ul {
list-style: none;
display: flex;
flex-wrap: wrap;
justify-content: center;
padding-top: 15px;

font-family: proxima;
font-weight: 300;
text-shadow: 2px 2px #202020;

}

nav ul li {
padding: 15px;
}

nav ul li a {
color: white;
text-decoration: none;
}

nav ul li a:visited {
color: white;
}

nav ul li a:link {
color: white;
}

nav ul li a:hover {
text-decoration: underline;
}

footer {
display: flex;
justify-content: center;

font-family: proxima;
color: white;
font-size: 10px;

position: relative;
padding: 20px;
}

footer p {
    position: absolute;
    bottom: 20px;
}

/* Inizio elementi pagina unici */
section {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
article {
   color: white;
   display: flex;
}

article h1 {
    writing-mode: vertical-rl;
    -webkit-text-orientation: upright;
    text-orientation: upright;
    padding-left: 20px;
    padding-right: 20px;

    font-family: vcr;
    font-size: 40px;
    animation: move 1s;
}

@keyframes move {
    0% {opacity: 0; padding-left: 60px;}
    100% {opacity: 1; padding-left: 20px;}
}

article p {
    padding-right: 20px;
    font-family: proxima-light;
    font-weight: 200;
    font-size: 20px;
    line-height: 40px;
    text-shadow: 2px 2px #202020;
    animation: move2 1s;
}

@keyframes move2 {
    0% {opacity: 0;}
    50% {opacity: 0;}
    100% {opacity: 1;}
}

picture {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    padding: 30px;
    animation: move2 1.5s;
}

picture img {
    width: 300px;
    border: 2px solid white;
}

.up {
    display: flex;
    justify-content: center;
    align-content: center;
}
.up a {
    display: flex;
    justify-content: center;
    align-content: center;
}
.up img {
    width: 15%;
    padding-bottom: 20px;
}

@media only screen and (min-width: 768px) and (max-width: 1365px) {
article h1 {
    font-size: 80px;
}
article p {
    padding-top: 50px;
    line-height: 60px;
}
picture img {
    width: 600px;
}
.up img {
    width: 10%;
}
}

@media only screen and (min-width: 1365px) {
section {
    display: flex;
    flex-direction: row;
}

article h1 {
    padding-left: 40px;
    padding-right: 20px;

    font-size: 60px;
    animation: move 500ms;
}

@keyframes move {
    0% {opacity: 0; padding-left: 80px;}
    100% {opacity: 1; padding-left: 40px;}
}
article p {
    padding-top: 5px;
    padding-right: 40px;
    padding-left: 20px;
    font-family: proxima;
    font-weight: 100;
    font-size: 15px;
    line-height: 35px;
}
picture {
    flex-wrap: wrap;
}
picture img {
    width: 350px;
}
.up {
    display: none;
    padding: 0%;
}
}

@media only screen and (min-width: 1919px) {
article h1 {
    font-size: 90px;
}

article p {
    padding-top: 20px;
    padding-right: 40px;
    padding-left: 20px;
    font-family: proxima;
    font-weight: 200;
    font-size: 20px;
    line-height: 60px;
}

picture img {
    width: 550px;
}

footer {
    font-size: 15px;
    position: relative;
    padding-top: 90px;
    padding-bottom: 0px;
}
    
footer p {
    position: absolute;
    bottom: 0px;
}
}

/* Scrollbar */
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }